/* 全体装飾 */
body{
  font-size: 6em;
  text-align: center;
}

/* ゲーム残り秒数が表示されるタイマーの領域 */
.count{
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* テキストが表示される領域 */
.wrap{
  margin-top: 20px;
  padding: 80px 20px 80px 20px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* 正しくタイピングされたときのテキスト */
.typed{
  color: lightgreen;
}

/* ミスタイピングされたときのテキスト */
.mistyped{
  background-color: red;
}

